body {
    text-align: center;
    margin: 0;
}
.layout {
    min-width: 1440px;
    display:inline-block !important;
    margin: 30px auto;
}
.blocks img {
    position: absolute;
}
td img {
    margin: 5px;
    visibility: hidden;
}
.left, .right {
    float: left;
}
.right {
    position: relative;
    margin-left: 50px;
    background-image: url('../img/控制面板.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#groove-0 {
    background-image: url("../img/指令槽-0.png");
    position: absolute;
    left: 611px;
    top: 379px;
    width: 123px;
    height: 123px;
    z-index: 14;
}
#groove-1 {
    background-image: url("../img/指令槽-1.png");
    position: absolute;
    left: 742px;
    top: 379px;
    width: 123px;
    height: 123px;
    z-index: 15;
}
#groove-2 {
    background-image: url("../img/指令槽-2.png");
    position: absolute;
    left: 873px;
    top: 379px;
    width: 123px;
    height: 123px;
    z-index: 16;
}
#groove-3 {
    background-image: url("../img/指令槽-3.png");
    position: absolute;
    left: 1004px;
    top: 379px;
    width: 123px;
    height: 123px;
    z-index: 17;
}
#groove-4 {
    background-image: url("../img/指令槽-4.png");
    position: absolute;
    left: 1061px;
    top: 550px;
    width: 123px;
    height: 123px;
    z-index: 18;
}
#groove-5 {
    background-image: url("../img/指令槽-5.png");
    position: absolute;
    left: 928px;
    top: 550px;
    width: 123px;
    height: 123px;
    z-index: 19;
}
#groove-6 {
    background-image: url("../img/指令槽-6.png");
    position: absolute;
    left: 795px;
    top: 550px;
    width: 123px;
    height: 123px;
    z-index: 20;
}
#groove-7 {
    background-image: url("../img/指令槽-7.png");
    position: absolute;
    left: 662px;
    top: 550px;
    width: 123px;
    height: 123px;
    z-index: 21;
}
#groove-8 {
    background-image: url("../img/指令槽-8.png");
    position: absolute;
    left: 606px;
    top: 721px;
    width: 123px;
    height: 123px;
    z-index: 22;
}
#groove-9 {
    background-image: url("../img/指令槽-9.png");
    position: absolute;
    left: 739px;
    top: 721px;
    width: 123px;
    height: 123px;
    z-index: 23;
}
#groove-10 {
    background-image: url("../img/指令槽-10.png");
    position: absolute;
    left: 871px;
    top: 721px;
    width: 123px;
    height: 123px;
    z-index: 24;
}
#groove-11 {
    background-image: url("../img/指令槽-11.png");
    position: absolute;
    left: 1003px;
    top: 721px;
    width: 123px;
    height: 123px;
    z-index: 25;
}
#groove-12 {
    background-image: url("../img/指令槽-12.png");
    position: absolute;
    left: 667px;
    top: 941px;
    width: 123px;
    height: 123px;
    z-index: 26;
}
#groove-13 {
    background-image: url("../img/指令槽-13.png");
    position: absolute;
    left: 804px;
    top: 941px;
    width: 123px;
    height: 123px;
    z-index: 27;
}
#groove-14 {
    background-image: url("../img/指令槽-14.png");
    position: absolute;
    left: 939px;
    top: 941px;
    width: 123px;
    height: 123px;
    z-index: 28;
}
#groove-15 {
    background-image: url("../img/指令槽-15.png");
    position: absolute;
    left: 1074px;
    top: 941px;
    width: 123px;
    height: 123px;
    z-index: 29;
}
